Engine/_Bin/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# Workspaces
*.code-workspace
.DS_Store
**/.DS_Store

# Visual Studio files
*.vscode/**
**/.vscode
*.vs/**

*.stackdump

# Assets

Assets/**
